@import 'variables';
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 62.5%;
    line-height: 16px;
}

body {
    min-height: 100vh;
    overflow-x: hidden;
    font-family: 'Nunito', sans-serif;
    background-color: #f5f5f5;
}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

a[href] {
    text-decoration: none;
}

input:focus {
    border-radius: 1px solid red;
}

/* Thanh Scroll */

body::-webkit-scrollbar {
    width: 4px;
}

body::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background-color: $primary;
}

// Public
.hidden {
    display: none !important;
}

.active {
}

.w-40 {
    width: 40%;
}

.w-60 {
    width: 60%;
}

// Button
.btn {
    transition: 0.2s;
    cursor: pointer;
    padding: 6px 12px 5px;
    font-size: 1.7rem;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 30px;
    border-radius: $br5;
    outline: none;
}

.btn-sort {
    cursor: pointer;
    &:hover {
        color: $dark-primary;
    }
}

/* Scroll Top */
.scroll-top {
    position: fixed;
    bottom: 40px;
    right: 40px;
    width: 50px;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $white;
    background-color: $primary-color;
    border-radius: 50%;
    transition: 0.3s;
    cursor: pointer;
    z-index: 10000;
    box-shadow: 2px 0 6px rgba(0, 0, 0, 0.3);
    opacity: 0;
    visibility: hidden;
}

.scroll-top.active {
    opacity: 1;
    visibility: visible;
}

.scroll-top:hover {
    transform: scale(1.2);
}

.scroll-top-icon {
    font-size: 35px;
    color: $white;
}

// Content
@import 'home';
@import 'base';
@import 'grid';
@import 'menu-mobile';
@import 'login';
@import 'register';
@import 'create';
@import 'cart';
@import 'responsive';
