@import 'variables';

.dataTables_info {
    display: none !important;
    font-size: 1.7rem;
}

#example_info {
    display: none;
}

.dataTables_length {
    display: none;
}

.dataTables_filter {
    font-size: 1.7rem;
    label {
        display: inline-flex;
        align-items: center;
        margin-left: -600px;
        margin-bottom: 28px;
    }
}

// Search
.form-control {
    margin-left: 14px;
    height: 30px;
    font-size: 1.6rem;
    padding: 5px 10px;
    outline: none;
    border-radius: 5px;
    border: 1px solid #bcbcbc;
    caret-color: #06354c;
}

.pagination {
    margin-top: 32px;
    margin-right: 500px;
    a {
        font-size: 1.6rem;
        font-weight: 500;
        padding: 5px 12px;
    }
}

// Column Row
table.dataTable td,
table.dataTable th {
    padding: 8px;
}

.table.dataTable > tbody > tr:hover {
    background-color: $hover;
}
