@import 'variables';
// History
#table-public--history {
    position: relative;
}

.form-action--history {
    margin-top: -12px;
}

.pill-title-item--purchase {
    position: absolute;
    top: 20px;
    right: 22px;
}

.modal-footer--modal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
}

.price-wrap {
    display: flex;
}

// Order
.process-order {
    width: 100%;
    margin-top: 32px;
    margin-bottom: 72px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.process-line {
    width: 60%;
    height: 6px;
    background-color: #ffffff;
    border-radius: 50px;
    position: relative;
}

.process-sub-line {
    position: absolute;
    top: 0;
    left: 0;
    height: 6px;
    background-color: #eb0e0e;
    border-radius: 50px;
}

.process-des-item {
    position: absolute;
    top: 12px;
    font-size: 1.8rem;
    font-weight: 600;
    text-transform: capitalize;
    color: $primary-color;
    width: 130px;
    text-align: left;
}

.w-25 {
    width: 25%;
}

.w-50 {
    width: 50%;
}

.w-75 {
    width: 75%;
}

.w-full {
    width: 100%;
}

.ml-25 {
    left: 25%;
}
.ml-50 {
    left: 50%;
}
.ml-75 {
    left: 75%;
}
.ml-full {
    left: 95%;
}

.btn-cancel {
    background-color: $red;

    &:hover {
        background-color: $red;
        opacity: 0.9;
    }
}
