@charset "UTF-8";
.cart {
  margin-bottom: 180px; }

.cart-header {
  margin-top: 160px;
  text-align: center; }

.cart-title {
  font-size: 3.2rem;
  font-weight: 600;
  color: #000; }

.cart-body {
  width: 80%;
  margin: 0 auto; }

.cart-heading-name {
  padding: 10px 0;
  font-size: 1.6rem;
  color: #000;
  font-weight: 600;
  text-align: center; }

.cart-list {
  text-align: center; }

.cart-wrap-container {
  display: flex;
  flex-direction: column-reverse; }

.cart-wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 60px; }
  .cart-wrap .cart-wrap-item:last-child {
    padding-left: 52px;
    padding: 0 62px; }

.cart-wrap-item--right {
  flex: 1; }

.cart-img {
  width: 55px;
  height: 55px;
  margin-left: -14px; }

.cart-name {
  color: #000;
  font-size: 2rem;
  font-weight: 600;
  /* Tối đa chỉ có 1 dòng duy nhất */
  text-align: center;
  line-height: 2.8rem;
  overflow: hidden;
  max-height: 2.8rem;
  /* Ẩn bớt nội dung và thể hiện = dấu 3 chấm */
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1; }

.btn-delete:hover {
  color: #fff;
  background-color: #a60c0c;
  border: 1px solid #a60c0c; }

.btn-delete {
  width: 96px;
  height: 30px;
  color: #000;
  background-color: #fff;
  border: 1px solid #000;
  text-align: center;
  margin: 15px 8px;
  font-size: 1.4rem;
  transition: 0.2s;
  line-height: 28px;
  cursor: pointer; }

.cart-price {
  font-weight: 400;
  font-size: 1.6rem;
  margin-top: 8px;
  margin-left: 12px; }

.cart-delete:hover {
  color: #a60c0c; }

.cart-delete {
  font-size: 2.4rem;
  position: relative;
  top: 3px;
  left: -60px;
  cursor: pointer;
  color: #494949; }

.cart-quantity {
  font-weight: 400;
  font-size: 1.6rem;
  border: none;
  border: 1px solid #000;
  margin-top: 3px;
  text-align: center;
  outline: none; }

.cart-footer {
  margin-right: 52px;
  margin-top: 32px; }

.cart-total {
  display: flex;
  justify-content: flex-end;
  padding: 24px 0; }

.cart-title-total:first-child {
  margin-right: 24px; }

.cart-title-total {
  color: #000;
  font-weight: 400;
  font-size: 1.8rem; }

.cart-title-total span {
  font-weight: 600;
  font-size: 1.8rem; }

.cart-btn {
  display: flex;
  justify-content: flex-end; }
  .cart-btn button {
    position: relative;
    padding: 10px 20px;
    border-radius: 7px;
    border: 1px solid #1c6758;
    font-size: 14px;
    text-transform: uppercase;
    letter-spacing: 2px;
    background: transparent;
    color: black;
    font-weight: 600;
    overflow: hidden;
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in; }
  .cart-btn button:hover {
    color: white;
    background: #1c6758;
    box-shadow: 0 0 8px 3px #67d6be;
    -webkit-transition: all 0.2s ease-out;
    -moz-transition: all 0.2s ease-out;
    transition: all 0.2s ease-out; }
  .cart-btn button:hover::before {
    -webkit-animation: sh02 0.5s 0s linear;
    -moz-animation: sh02 0.5s 0s linear;
    animation: sh02 0.5s 0s linear; }
  .cart-btn button::before {
    content: '';
    display: block;
    width: 0px;
    height: 86%;
    position: absolute;
    top: 7%;
    left: 0%;
    opacity: 0;
    background: #fff;
    box-shadow: 0 0 50px 30px #fff;
    -webkit-transform: skewX(-20deg);
    -moz-transform: skewX(-20deg);
    -ms-transform: skewX(-20deg);
    -o-transform: skewX(-20deg);
    transform: skewX(-20deg); }

@keyframes sh02 {
  from {
    opacity: 0;
    left: 0%; }
  50% {
    opacity: 1; }
  to {
    opacity: 0;
    left: 100%; } }
  .cart-btn button:active {
    box-shadow: 0 0 0 0 transparent;
    -webkit-transition: box-shadow 0.2s ease-in;
    -moz-transition: box-shadow 0.2s ease-in;
    transition: box-shadow 0.2s ease-in; }

.cart-next,
.cart-payment {
  cursor: pointer;
  padding: 8px 14px;
  font-weight: 600;
  font-size: 1.6rem;
  text-transform: uppercase;
  color: #1c6758;
  border-radius: 3px; }

.cart-next {
  margin-right: 12px; }

.cart-payment:hover {
  opacity: 0.9; }

.cart-payment {
  color: #fff;
  background-color: #000;
  transition: 0.3s; }

.cart-price-mobile {
  font-size: 1.4rem;
  font-weight: 400;
  display: none; }

.notify-cart {
  text-align: center; }
