#table-public--history {
  position: relative; }

.form-action--history {
  margin-top: -12px; }

.pill-title-item--purchase {
  position: absolute;
  top: 20px;
  right: 22px; }

.modal-footer--modal {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 12px; }

.price-wrap {
  display: flex; }

.process-order {
  width: 100%;
  margin-top: 32px;
  margin-bottom: 52px;
  display: flex;
  align-items: center;
  flex-direction: column; }

.process-line {
  width: 60%;
  height: 6px;
  background-color: white;
  border-radius: 50px;
  position: relative; }

.process-line-item {
  position: absolute;
  top: -8px;
  width: 25px;
  height: 25px;
  color: white;
  background-color: #004262;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center; }
  .process-line-item:nth-child(1) {
    left: 0; }
  .process-line-item:nth-child(2) {
    left: 25%; }
  .process-line-item:nth-child(3) {
    left: 75%; }
  .process-line-item:nth-child(4) {
    left: 100%; }

.btn-cancel {
  background-color: #a60c0c; }
  .btn-cancel:hover {
    background-color: #a60c0c;
    opacity: 0.9; }
