<div class='cart'>
    <div class='container'>
        <div class='cart-header'>
            <h1 class='create-header'>Giỏ Hàng Của Bạn ()</h1>
            <h4>{{cart_info.total}}</h4>
        </div>
        <div class='cart-body'>
            <div class='row cart-heading'>
                <div class='col-lg-3 cart-heading-name'>Ảnh</div>
                <div class='col-lg-3 cart-heading-name'>Tên</div>
                <div class='col-lg-3 cart-heading-name'>Số lượng</div>
                <div class='col-lg-3 cart-heading-name'>Giá</div>
            </div>
            <div class='cart-list'>
                <div class='row cart-item'>
                    <div class='col-lg-3'>
                        <i class='cart-delete fa-solid fa-trash'></i>
                        <img
                            src='https://i.postimg.cc/JnZwJz1J/SD-BACHA-600x600-removebg-preview.png'
                            width='120'
                            alt=''
                            class='cart-img'
                        />
                    </div>
                    <div class='col-lg-3'>
                        <div class='cart-product'>
                            <div class='cart-name' title='Designers Chair Vol.1'>Designers Chair Vol.1</div>
                        </div>
                    </div>
                    <div class='col-lg-3'>
                        <input class='cart-quantity' type='number' value='0' max='10' min='1' />
                    </div>
                    <div class='col-lg-3'>
                        <div class='cart-price'>500.000 VND</div>
                    </div>
                </div>
                <div class='row cart-item'>
                    <div class='col-lg-3'>
                        <i class='cart-delete fa-solid fa-trash'></i>
                        <img
                            src='https://i.postimg.cc/JnZwJz1J/SD-BACHA-600x600-removebg-preview.png'
                            width='120'
                            alt=''
                            class='cart-img'
                        />
                    </div>
                    <div class='col-lg-3'>
                        <div class='cart-product'>
                            <div class='cart-name' title='Designers Chair Vol.1'>Designers Chair Vol.1</div>
                        </div>
                    </div>
                    <div class='col-lg-3'>
                        <input class='cart-quantity' type='number' value='0' max='10' min='1' />
                    </div>
                    <div class='col-lg-3'>
                        <div class='cart-price'>500.000 VND</div>
                    </div>
                </div>

            </div>
            <div class='cart-footer'>
                <div class='cart-total'>
                    <div class='cart-title-total'>Số lượng : <span>12</span></div>
                    <div class='cart-title-total'>Tổng tiền : <span>1.500.000 VND</span></div>
                </div>
                <div class='cart-btn'>
                    <a href='/user' class='cart-next'>Tiếp tục mua sắm</a>
                    <div class='cart-payment'>Đặt hàng</div>
                </div>
            </div>
        </div>
    </div>
</div>