<div class='row sm-gutter app__content'>

    <h1>{{title}}</h1>
    <!-- Danh Mục -->
    <div class='col l-2 m-0 c-0'>
        <nav class='category'>
            <h3 class='category__heading'>DANH MỤC</h3>
            <ul class='category-list'>
                <li class='category-item category-item--active'>
                    <a href='/user' class='category-item__link'>Tất cả</a>
                </li>
                <li class='category-item'>
                    <a href='/user/drink' class='category-item__link'>Đồ uống</a>
                </li>
                <li class='category-item'>
                    <a href='/user/food' class='category-item__link'>Món ăn</a>
                </li>
                <li class='category-item'>
                    <a href='/user/sidefood' class='category-item__link'>Ăn kèm</a>
                </li>
            </ul>
        </nav>
    </div>

    <!-- Sản Phẩm -->
    <div class='col l-10 m-12 c-12'>
        {{! <nav class='mobile-category'>
            <ul class='mobile-category__list'>
                <li class='mobile-category__item'>
                    <a href='' class='mobile-category__link'>Dụng cụ & Thiết bị tiện ích</a>
                </li>
                <li class='mobile-category__item'>
                    <a href='' class='mobile-category__link'>Dụng cụ & Thiết bị tiện ích</a>
                </li>
                <li class='mobile-category__item'>
                    <a href='' class='mobile-category__link'>Dụng cụ & Thiết bị tiện ích</a>
                </li>
                <li class='mobile-category__item'>
                    <a href='' class='mobile-category__link'>Dụng cụ & Thiết bị tiện ích</a>
                </li>
                <li class='mobile-category__item'>
                    <a href='' class='mobile-category__link'>Dụng cụ & Thiết bị tiện ích</a>
                </li>
                <li class='mobile-category__item'>
                    <a href='' class='mobile-category__link'>Dụng cụ & Thiết bị tiện ích</a>
                </li>
                <li class='mobile-category__item'>
                    <a href='' class='mobile-category__link'>Dụng cụ & Thiết bị tiện ích</a>
                </li>
                <li class='mobile-category__item'>
                    <a href='' class='mobile-category__link'>Dụng cụ & Thiết bị tiện ích</a>
                </li>
                <li class='mobile-category__item'>
                    <a href='' class='mobile-category__link'>Dụng cụ & Thiết bị tiện ích</a>
                </li>
            </ul>
        </nav> }}

        <div class='home-product'>
            <div class='row sm-gutter'>
                <!-- Product Item-->
                {{#each foods}}
                    <div class='product-item col l-3 m-4 c-6'>
                        <a class='home-product-item' href='#'>
                            <div class='home-product-item__img' style='background-image: url({{img}});'></div>
                            <h4 class='home-product-item__name'>{{name}}</h4>
                            <div class='home-product-item__price'>
                                <span class='home-product-item__price-title'>Giá :</span>
                                <span class='home-product-item__price-number'>{{price}}.000 đ</span>
                            </div>
                            <div class='home-product-btn'>
                                <div class='btn btn-warning btn-add-cart'><span><ion-icon
                                            name='cart-outline'
                                        ></ion-icon></span>
                                    Thêm vào giỏ</div>
                            </div>
                        </a>
                    </div>
                {{/each}}
            </div>
        </div>

        <ul class='pagination home-product__pagination'>
            <li class='pagination-item'>
                <a href='' class='pagination__link'>
                    <i class='pagination-item__icon fas fa-chevron-left'></i>
                </a>
            </li>
            <li class='pagination-item pagination-item--active'>
                <a href='' class='pagination__link'>1</a>
            </li>
            <li class='pagination-item'>
                <a href='' class='pagination__link'>2</a>
            </li>
            <li class='pagination-item'>
                <a href='' class='pagination__link'>3</a>
            </li>
            <li class='pagination-item'>
                <a href='' class='pagination__link'>...</a>
            </li>
            <li class='pagination-item'>
                <a href='' class='pagination__link'>10</a>
            </li>
            <li class='pagination-item'>
                <a href='' class='pagination__link'>
                    <i class='pagination-item__icon fas fa-chevron-right'></i>
                </a>
            </li>
        </ul>
    </div>
</div>

<!-- Modal Register -->
<div class='modal fade' id='register' tabindex='-1' aria-hidden='true'>
    <div class='modal-dialog modal-lg'>
        <div class='modal-content'>
            <div class='auth-form form-size__register active'>
                <div class='auth-form__container'>
                    <div class='auth-form__header'>
                        <h3 class='auth-form__heading'>Đăng Ký</h3>
                    </div>

                    <div class='auth-form__form'>
                        <div class='auth-form__wrap'>
                            <div class='auth-form__group'>
                                <input type='text' class='auth-form__input' name='' placeholder='Họ & tên' />
                            </div>
                            <div class='auth-form__group'>
                                <input type='text' class='auth-form__input' name='' placeholder='Địa chỉ' />
                            </div>
                        </div>
                        <div class='auth-form__wrap'>
                            <div class='auth-form__group'>
                                <input type='text' class='auth-form__input' name='' placeholder='Số điện thoại' />
                            </div>
                            <div class='auth-form__group'>
                                <input type='email' class='auth-form__input' name='' placeholder='Tên đăng nhập' />
                            </div>
                        </div>
                        <div class='auth-form__wrap'>
                            <div class='auth-form__group'>
                                <input
                                    type='password'
                                    class='auth-form__input'
                                    name=''
                                    placeholder='Mật khẩu của bạn'
                                />
                            </div>
                            <div class='auth-form__group'>
                                <input
                                    type='password'
                                    class='auth-form__input'
                                    name=''
                                    placeholder='Nhập lại mật khẩu'
                                />
                            </div>
                        </div>
                    </div>

                    <div class='auth-form__controls'>
                        <button class='btn btn-primary btn--active'>ĐĂNG KÝ</button>
                    </div>

                    <div class='line'>
                        <p class='line-text'>HOẶC</p>
                    </div>

                    <div class='auth-form__socials'>
                        <a href='' class='auth-form__socials--facebook btn btn--width-icon'>
                            <i class='fab fa-facebook-f'></i>
                            Facebook
                        </a>
                        <a href='' class='auth-form__socials--google btn btn--width-icon'>
                            <i class='fab fa-google'></i>
                            Google
                        </a>
                    </div>

                    {{! <span class='auth-form__wonder'>
                        <p class='auth-form__wonder-text'>Bạn đã có tài khoản?</p>
                        <a href='' class='auth-form__wonder-login'>Đăng Nhập</a>
                    </span> }}
                </div>
            </div>
        </div>
    </div>
</div>

{{! Modal Login }}
<div class='modal fade' id='login' tabindex='-1' aria-hidden='true'>
    <div class='modal-dialog'>
        <div class='modal-content'>
            <div class='modal-body'>
                <div class='auth-form form-size__login'>
                    <div class='auth-form__container'>
                        <form class='form-action-login' method='POST' action='/auth/login'>
                            <div class='auth-form__header'>
                                <h3 class='auth-form__heading'>Đăng Nhập</h3>
                            </div>

                            <div class='auth-form__form'>
                                <div class='auth-form__group'>
                                    <i class='fas fa-user'></i>
                                    <input
                                        type='text'
                                        class='auth-form__input'
                                        id='username'
                                        placeholder='Tên đăng nhập'
                                    />
                                </div>
                                <div class='auth-form__group'>
                                    <i class='fa fa-lock'></i>
                                    <input
                                        type='password'
                                        class='auth-form__input'
                                        id='password'
                                        placeholder='Mật khẩu'
                                    />
                                </div>
                            </div>
                            <div class='form-more'>
                                <label>
                                    <div>
                                        <input class='checkToggle' type='checkbox' onclick='showHidePassword()' />
                                        Hiện mật khẩu
                                    </div>
                                </label>
                                <p class='text-forget'>Quên mật khẩu ?</p>
                            </div>

                            <button type='submit' onclick='handleLogin()' class='btn btn-success btn-login'>Đăng Nhập</button>
                            {{! <button type='submit' onclick='login()' class='btn btn-success btn-login'>Đăng Nhập</button> }}

                            {{! <div class='auth-form__controls'>
                            <button class='btn btn-primary btn--active' onclick='handleLogin()'>ĐĂNG NHẬP</button>
                        </div>

                        <div class='auth-form__aside'>
                            <div class='auth-form__help'>
                                <a href='' class='auth-form__help-link'>Quên mật khẩu?</a>
                            </div>
                        </div> }}
                        </form>

                        <div class='line'>
                            <p class='line-text'>HOẶC</p>
                        </div>

                        <div class='auth-form__socials'>
                            <a href='' class='auth-form__socials--facebook btn btn--width-icon'>
                                <i class='fab fa-facebook-f'></i>Facebook
                            </a>
                            <a href='' class='auth-form__socials--google btn btn--width-icon'>
                                <i class='fab fa-google'></i>
                                Google
                            </a>
                            <a href='' class='auth-form__socials--apple btn btn--width-icon'>
                                <i class='fab fa-apple'></i>
                                Apple
                            </a>
                        </div>

                        {{! <span class='auth-form__wonder'>
                            <p class='auth-form__wonder-text'>Bạn mới biết đến Shopee?</p>
                            <a href='' class='auth-form__wonder-login'>Đăng Ký</a>
                        </span> }}
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>